.bodyText {
  color: #464646;
}

.lightText {
  color: #999;
}

.headingText {
  color: #111111;
}

.backgroundGrey {
  background-color: #eeeeee;
}

.primaryText {
  color: #26c382;
}

.primaryBackground {
  background-color: #26c382;
}

.primaryDarkBackground {
  background-color: #26b87b;
}

.secondaryBackground {
  background-color: #99c6da;
}

.secondaryDarkBackground {
  background-color: #8cc2da;
}

/* two diff grey #D7F2E4  #C6D7D5*/

/* #6b9c89; dark primary ?*/
