.button {
  font-size: var(--smallText);
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 8px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  transition: all 0.3s;
  outline: 0;
}

.primary {
  composes: button;
  background-color: var(--primaryColour);
  border-color: var(--primaryColour);
}

.primary:hover {
  background-color: var(--primaryDarkColour);
  border-color: var(--primaryDarkColour);
}

.secondary {
  composes: button;
  background-color: var(--secondaryColour);
  border-color: var(--secondaryColour);
}

.secondary:hover {
  background-color: var(--secondaryDarkColour);
  border-color: var(--secondaryDarkColour);
}

.inverted {
  composes: button;
  background-color: inherit;
  border-color: var(--primaryColour);
  color: var(--primaryColour);
}

.inverted:hover {
  border-color: var(--primaryDarkColour);
  color: var(--primaryDarkColour);
}

.cancel {
  composes: button;
  background-color: var(--lightTextColour);
  border-color: var(--lightTextColour);
}

.cancel:hover {
  background-color: var(--grey3);
  border-color: var(--grey3);
}
