.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justifyItemsFlexStart {
  justify-items: flex-start;
}
.justifyItemsFlexEnd {
  justify-items: flex-end;
}

.justifyContentSpaceAround {
  justify-content: space-around;
}

.justifyContentSpaceBetween {
  justify-content: space-between;
}

.alignItemsFlexStart {
  align-items: flex-start;
}

.alignItemsFlexEnd {
  align-items: flex-end;
}
