.textField {
  font-size: var(--baseText);
  padding: 6px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: var(--grey2);
  border-radius: 4px;
  transition: all 0.3s;
  outline: 0;
  margin-bottom: 0.5em;
  min-width: 250px;
  box-sizing: border-box;
}

.textField:focus {
  border-color: var(--secondaryColour);
}

.label {
  composes: inputLabel from "../styles/shared.css";
}
