.textField {
  composes: textBase from "../styles/Typography.css";
  padding: 6px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: #c6d7d5;
  border-radius: 4px;
  transition: all 0.3s;
  outline: 0;
  margin-bottom: 0.5em;
  min-width: 250px;
  box-sizing: border-box;
}

.textField:focus {
  border-color: #99c6da;
}

.label {
  composes: lightText from "../styles/Colors.css";
  margin-bottom: 0.1em;
}
